body {
    background-color: cornflowerblue;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

nav {
    background-color: #a0bff0;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

nav > a {
    padding: 15px;
    text-decoration: none;
    color: white;
}
nav > a:hover {
    background-color: #92b6f0;
    transition-property: all;
    transition-duration: 200ms;
}

header {
    background-color: #b2cbf2;
    height: 142px;
    border-radius: 0 0 15px 15px;
    text-align: center;
    width: 100%;
}

header > h1 {
    padding-top: 25px;
    color: white;
}

img {
    border: 2px black solid;
    width: 30%;
    float: left;
}

div {
    background-color: #eeeeff;
    border-radius: 15px;
    width: 100%;
    position: relative;
    margin: 1vw;
    height: 75vh;
}

details {
    border-radius: 10px;
    border: 2px solid grey;
    background-color: white;
    padding: 10px;
}

figure {
    width: 40%;
}

figure > figcaption {
    text-align: center;
    background-color: #ddddff;
    font-size: 1.2em;
    width: 100%;
    font-style: italic;
}

figure > img {
    width: 100%;
}

div > a {
    text-decoration: none;
}

html, body {
    overflow: hidden;
}